 header,nav,ul{
    display: flex;
    align-items: center;

 }
 header{
    justify-content: space-between;
            padding: 20px 80px;
 }

header nav ul{
    list-style: none;
    gap: 15px;
   } 
header nav ul li a{
    text-decoration: none;
    }
    header nav{
      gap: 15px;
    }
   